<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TA Helper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
  </head>
  <body background="/img/bg.jpg">
<!--******************************  put your code between ********************************-->
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="page-header">
                    <h1>TA Helper <small>A queue system for lab session</small></h1>
                </div>
            </div>
            <div class="col-xs-4" align="center" id="div1">
                <a href="TAmainPage">
                    <button class="btn btn-success full_size" id="iamata">
                        I am a TA!
                    </button> 
                </a>
                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="color: blue;">
                <h3>Choose a Session and Queue for a TA <span class="glyphicon glyphicon-arrow-down"></span> </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover">
                    <tbody id="mainPageTable">
                        <tr>
                            <th>Session ID</th>
                            <th>Location</th>
                            <th>Time Period</th>
                            <th></th>
                        </tr>
                        {% for entry in entries %} 
                            <tr>
                                <td>{{entry.sessionID}}</td>
                                {% if entry.location %}
                                    <td>{{entry.location}}</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                                <td>{{entry.startTime.strftime("%y-%m-%d,%H:%M")}} - {{entry.endTime.strftime("%y-%m-%d,%H:%M")}}</td>
                                <td><div>
                                    <a href="/studentWorkingPage?sessionID={{entry.sessionID}}">
                                       <button class="btn btn-primary full_size studentJoin" id="{{entry.sessionID}}">Join</button> 
                                    </a>     
                                </div></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
<!--******************************  put your code between ********************************-->  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/js/helper.js"></script>
    <script type="text/javascript" src="/js/jquery-showpassword.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>